@import "../../../../../../assets/variables.scss";

.create-task-form {
  background: var(--secondary-color);
  border: 2px solid var(--input-border);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-small);
  transition: background-color 0.3s;
  border-radius: $border-radius;

  &:hover {
    border: 1px solid var(--border);
    background-color: rgba(9, 66, 54, 0.3);
  }
}

.create-task-form .inline-form {
  display: flex;
  gap: var(--spacing-tiny);
  justify-content: space-around;
  width: 100%;
}

.create-task-form .inline-form-button {
  background: var(--primary-color);
  color: var(--yes-btn-color);
  border: 1px solid var(--btn-outline-border-color);
  border-radius: var(--border-radius);
  font-size: var(--btn-font-size);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px;
  height: var(--input-height-large);
  border-radius: $border-radius;

  &:hover {
    color: var(--btn-outline-hover-color);
  }
}

.create-task-form .inline-form-input {
  font-weight: 500;
  font-size: var(--font-size-medium);
  background-color: var(--background-color);
  border: 2px solid var(--input-border);
  box-sizing: border-box;
  border-radius: var(--border-radius);
  height: var(--input-height-large);
  width: 80%;
  height: 30px;
  padding: var(--spacing-small);
  text-align: center;
}
