@import "../../../../../../assets/variables.scss";

.create-column-form {
  background: $secondary-color-light;
  border: 2px solid $input-border-light; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  padding: $spacing-small;
  transition: background-color 0.3s;
  height: 50px;
  min-width: $desktop-task-width;

  &:hover {
    border: 1px solid $background-color-dark;
    background-color: rgba(9, 66, 54, 0.3);
  }
}

.create-column-form .inline-form {
  display: flex;
  gap: $spacing-tiny;
  justify-content: space-around;
}

.create-column-form .inline-form-button {
  background: $yes-btn-background-color;
  color: $yes-btn-color;
  border: $btn-outline-border-width solid $btn-outline-border-color;
  border-radius: $border-radius;
  font-size: $btn-font-size;
  padding: $btn-padding-vertical $btn-padding-horizontal;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: $btn-outline-hover-background-color;
    color: $btn-outline-hover-color;
  }
}

.create-column-form .inline-form-input {
  font-weight: 500;
  font-size: $font-size-medium;
  background-color: $background-color-light;
  border: 2px solid $input-border-light;
  box-sizing: border-box;
  border-radius: $border-radius;
  height: $input-height-large;
  padding: $spacing-small;
  width: 80%;
}
