@import "../../../../../../assets/variables.scss";

.edit-board-form .inline-form-text {
  font-size: $font-size-mediumPlus;
  color: $text-color-light;
  padding: $spacing-small $spacing-medium;
  margin-right: $spacing-large;
}

.edit-board-form .inline-form-input {
  font-weight: 300;
  font-size: $font-size-medium;
  width: 100%;
  background-color: $input-background-color-light;
  border: 1px solid $input-border-light;
  box-sizing: border-box;
  border-radius: $border-radius;
  height: $input-height-large;
  padding: $spacing-small;
}

.edit-board-form .inline-form {
  display: flex;
  gap: $spacing-tiny;
}

.edit-board-form .inline-form-button {
  background: $yes-btn-color;
  padding: $spacing-tiny;
}

