@import "../../../../../../assets/variables.scss";

.task-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.task-modal-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background: $background-smooth-light;
}
.task-modal-container {
  display: flex;
  flex-direction: column;
  background: $background-color-light;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 150px;
  margin-top: $spacing-large;
  position: absolute;
  width: $modal-width;
  min-height: $modal-min-height;
  border-radius: $border-radius;
  box-shadow:$box-shadow-light;
  padding: $spacing-large;
}
.task-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $spacing-small;
}
.task-modal-close {
  display: flex;
  justify-content: center;
  width: $spacing-large;
  font-size: $font-size-large;
  color: $text-color-light;
  cursor: pointer;
  padding: $spacing-tiny $spacing-medium;
  border: 1px solid $border-light;
  color: $no-btn-color;
  background-color: $no-btn-background-color;
  border-radius: $border-radius;
}
.task-modal-close:hover {
  background-color: $no-btn-hover-background-color;
}
.task-modal-edit-title-form {
  cursor: pointer;
}
.task-modal-edit-title-form .inline-form-text {
  font-size: $font-size-large;
  font-weight: 700;
}
.task-modal-edit-title-form .inline-form-input {
  font-weight: 500;
  font-size: $font-size-large;
  background-color: $input-background-color-light;
  border: 1px solid $input-border-light;
  box-sizing: border-box;
  border-radius: $border-radius;
  height: $input-height-small;
  padding: $spacing-small;
}
.task-modal-edit-description-form {
  cursor: pointer;
}
.task-modal-edit-description-form .inline-form-input {
  font-weight: 500;
  font-size: $font-size-medium;
  width: 100%;
  background-color: $input-background-color-light;
  border: 1px solid $border-light;  
  box-sizing: border-box;
  border-radius: $border-radius;
  padding: $spacing-small;
  height: $textarea-height;
}
.task-modal-edit-description-form .inline-form-button {
  background: $yes-btn-background-color;
  border-radius: $border-radius;
  color: $yes-btn-color;
  display: inline-block;
  font-weight: 700;
  margin-bottom: $spacing-medium;
  font-size: $font-size-medium;
  padding: $btn-padding-vertical $btn-padding-horizontal;
  position: relative;
  text-decoration: none;
  border: 0px;
  margin-top: $spacing-small;
  cursor: pointer;
  font-family: $font-primary;
}
.task-modal-edit-description-form .inline-form-button:hover {
  background-color: $yes-btn-hover-background-color;
}
.task-modal-description {
  flex: 1;
  margin-right: $spacing-large;
}
.task-modal-description-label {
  margin-bottom: $spacing-large;
  font-size: $font-size-mediumPlus;
  font-weight: 700;
}
.task-modal-body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.task-modal-actions-label {
  font-size: $font-size-mediumPlus;
  font-weight: 700;
  margin-bottom: $spacing-large;
}

.task-modal-actions-icon {
  width: $icon-size-small;
  margin-right: $spacing-tiny;
}

.task-modal-actions-action {
  font-size: $font-size-medium;
  display: flex;
  align-items: center;
  border-radius: $border-radius;
  background-color: $no-btn-background-color;
  cursor: pointer;
  color: $no-btn-color;
  margin-top: $spacing-small;
  min-width: $action-width;
  padding: $spacing-small $spacing-medium;
  border: 1px solid $border-light;
}

.task-modal-actions-action:hover {
  background-color: $no-btn-hover-background-color;
}

.column-select-label {
  font-size: $font-size-mediumPlus;
  font-weight: 700;
}

// COLUMN SELECT
.column-select {
  width: 100%;
  max-width: $column-select-max-width;
  height: $input-height-large;
  padding: $spacing-medium;
  font-size: $font-size-large;;
}

.column-select:hover,
.column-select:focus {
  background-color: rgba(9, 30, 66, 0.15);
  border: 6px solid rgba(9, 30, 66, 0);
  border-bottom: 2px solid rgba(9, 30, 66, 0.25);
}

.column-select-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-large;
  margin-top: $spacing-large;
}
