@import "./app/shared/modules/inlineForm/component/inlineFormStyles/createBoard.scss";
@import "./app/shared/modules/inlineForm/component/inlineFormStyles/createColumn.scss";
@import "./app/shared/modules/inlineForm/component/inlineFormStyles/createTask.scss";
@import "./app/shared/modules/inlineForm/component/inlineFormStyles/editBoardForm.scss";
@import "./app/shared/modules/inlineForm/component/inlineFormStyles/taskModal.scss";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

