@import "../../../../assets/variables.scss";

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: $spacing-huge;
}

.logo {
  font-size: 48px;
  font-weight: bold;
  color: var(--primary-color);
  text-shadow: 2px 2px var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: var(--font-primary);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-medium;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  max-width: 400px;
  width: 90%;
}

.login-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: $spacing-medium;
  color: var(--primary-color);
}

.login-input {
  padding: $spacing-small;
  margin-bottom: $spacing-small;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  width: 100%;
  font-size: $font-size-medium;
}

.login-submit-button {
  padding: $spacing-small;
  margin-top: $spacing-medium;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: $font-size-medium;
  cursor: pointer;
}

.bottom-form-links {
  margin-top: $spacing-medium;
  font-size: $font-size-medium;
}

.register-link {
  color: var(--primary-color);
}

/* Адаптивные стили для формы входа */
@media only screen and (max-width: var(--tablet-width)) {
  .form-container {
    max-width: 300px;
  }

  .logo {
    font-size:$font-size-large;
  }

  .login-input {
    font-size: $font-size-medium;
  }

  .login-submit-button {
    font-size: $font-size-medium;
  }

  .bottom-form-links {
    font-size: var(--font-size-small);
  }
}

@media only screen and (max-width: 400px) {
  .form-container {
    max-width: 300px;
  }

  .login-header {
    font-size:$font-size-large;
  }

  .login-input {
    font-size: var(--font-size-small);
  }

  .login-submit-button {
    font-size: var(--font-size-small);
  }

  .bottom-form-links {
    font-size: var(--font-size-small);
  }
}
