// Общие цвета
$background-color-blue: #00add0;

.light-theme {
  --primary-color: #4285f4;
  --secondary-color: #ebecf0;
  --text-color: #202124;
  --background-color: #fff; 
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  --btn-background-color: var(--primary-color);
  --btn-color: #fff;
  --btn-hover-background-color: darken(var(--primary-color), 10%);
  --btn-hover-color: #fff;
  --border-color: #313131;
  --input-background-color: #f5f5f5;
  --input-border-color: #aaa;
  --background-smooth: rgba(0, 0, 0, 0.5);
  --no-btn-background-color: #4285f4;
  --no-btn-color: #fbfdff;
  --border-color: #333;
}

.dark-theme {
  --primary-color: #fbfdff;
  --secondary-color: #777;
  --text-color: #f5f5f5;
  --background-color: #202124;
  --box-shadow: 0 0 10px rgba(222, 213, 213, 0.3);
  --btn-background-color: var(--primary-color);
  --btn-color: #000;
  --btn-hover-background-color: lighten(var(--primary-color), 10%);
  --btn-hover-color: #fff;
  --border-color: #d1d1d1;
  --input-background-color: #37474f;
  --input-border-color: #757575;
  --background-smooth: rgba(0, 0, 0, 0.5);
  --no-btn-background-color: #fbfdff;
  --no-btn-color: #000;
  --border-color: #ddd;

}

// Шрифты
$font-primary: "Roboto", sans-serif;
$font-secondary: "Open Sans", sans-serif;

// Размеры
$spacing-tiny: 4px;
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-huge: 32px;
$border-radius: 4px;
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-mediumPlus: 20px;
$font-size-large: 24px;
$desktop-task-width: 272px;
$modal-width: 572px;
$modal-min-height: 300px;
$input-height-small: 24px;
$input-height-large: 40px;
$input-border-radius: 4px;

$textarea-height: 100px;
$icon-size-small: 16px;
$action-width: 100px;
$column-select-max-width: 200px;

// Адаптивность
$mobile-width: 400px;
$tablet-width: 768px;
$desktop-width: 1024px;
$column-desktop-width: 272px;
$column-desktop-max-height: 600px;

// Кнопки
$btn-padding-vertical: 10px;
$btn-padding-horizontal: 15px;
$btn-border-radius: 4px;
$btn-font-size: 16px;

// Yes/No кнопки
$yes-btn-background-color: #4caf50;
$yes-btn-color: #fff;
$yes-btn-hover-background-color: darken($yes-btn-background-color, 10%);
$yes-btn-hover-color: #fff;

$no-btn-background-color: #f44336;
$no-btn-color: #fff;
$no-btn-hover-background-color: darken($no-btn-background-color, 10%);
$no-btn-hover-color: #fff;

// Дополнительные стили для кнопок могут быть добавлены здесь, например:
$btn-outline-border-width: 1px;
$btn-outline-border-color: var(--primary-color);
$btn-outline-color: var(--primary-color);
$btn-outline-hover-background-color: var(--primary-color);
$btn-outline-hover-color: #fff;
