// Цвета
$primary-color-light: #4285f4;
$secondary-color-light: #ebecf0;
$text-color-light: #202124;
$background-color-light: #fff;
$background-color-blue: #00add0; 

$box-shadow-light: 0 0 10px rgba(0, 0, 0, 0.3);

$primary-color-dark: #4285f4;
$secondary-color-dark: #ccc;
$text-color-dark: #f5f5f5;
$background-color-dark: #202124;



$yes-btn-color: #00CF00; 
$no-btn-color: #FC0221; 

// Шрифты
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

// Размеры
$spacing-tiny: 4px;
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-huge: 32px;
$border-radius: 4px;
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-mediumPlus: 20px;
$font-size-large: 24px;
$desktop-task-width: 272px; 
// Адаптивность
$mobile-width: 400px;
$tablet-width: 768px;
$desktop-width: 1024px;

$column-desktop-width: 272px;
$column-desktop-max-height: 600px;
// btns
$btn-pad-v: 10px; 
$btn-pad-h: 15px;
$btn-bgcolor-light: #4285f4;
$btn-color-light: #fff;
