@import "../../../../../assets/variables.scss";


.navbar-boards {
  display: flex;
  justify-content: space-between;
  padding: $spacing-medium $spacing-large;
  border-bottom: 1px solid var(--primary-color);
  background-color: var(--background-color);
}

.logo {
  font-size: $font-size-large;
  font-weight: bold;
  color: var(--primary-color);
  text-shadow: 1px 1px var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: $font-primary;
}

.btn {
  color: var(--primary-color);
  scale: 1.3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-tiny;
  border: 1px solid var(--primary-color);
  height: fit-content;
}

.btn:hover {
  background-color: var(--secondary-color);
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-medium $spacing-large;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
}

.home-header-login,
.home-header-register {
  font-size: $font-size-medium;
  text-decoration: none;
  margin-left: $spacing-medium;
}

.navbar-left-side {
  display: flex;
  gap: $spacing-large;
}

.navbar-icon {
  color: var(--primary-color);
  scale: 1.3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-tiny;
  border: 1px solid var(--primary-color);
  height: fit-content;
  margin-right: 20px;
}

.navbar-icon:hover {
  background-color: var(--secondary-color);
}

.navbar-right-side {
  display: flex;
  gap: 40px;
}

.langs {
  display: flex;
  gap: 10px;
}


@media (max-width: 767px) {
  .navbar-boards {
    flex-direction: column;
  }

}