<div class="navbar-boards">
  <div class="navbar-left-side">
    <a routerLink="/" class="navbar-icon">
      <i class="fas fa-home"></i>
    </a>
    <!-- <a routerLink="/boards" class="navbar-icon navbar-boards-icon">
      <i class="fas fa-columns"></i>
    </a> -->
    <a (click)="toggleTheme()" class="navbar-icon">{{ 'topbar.toggleTheme' | translate }}</a>
  </div>
  <a class="logo" routerLink="/">Task Flow</a>
  <div class="navbar-right-side">
    <div class="langs">
      <a class="btn" *ngFor="let language of translate.getLangs()" (click)="switchLang(language)">{{language}}</a>
    </div>
    <div class="btn" (click)="logout()">{{ 'topbar.logout' | translate }}</div>
  </div>
</div>
