<app-topbar></app-topbar>

<div class="boards-page-container">
  <div class="home-left-sidebar-container">
    <a
      routerLink="/"
      class="boards-side-menu-option"
      routerLinkActive="boards-side-menu-option-selected"
      [routerLinkActiveOptions]="{ exact: true }"
      >{{ "home" | translate }}</a
    >
  </div>
  <div class="boards-section-container">
    <div class="my-boards">
      <div class="my-boards-section-header">
        <div class="boards-page-header-name">{{ "myBoards" | translate }}</div>
        <div class="board-sf">
          <input
            class="board-filter-input"
            [(ngModel)]="filter"
            placeholder="{{ 'filterBoards' | translate }}"
            (input)="filterBoards()"
          />
          <select
            class="board-sort-select"
            [(ngModel)]="sortOption"
            (change)="sortBoards()"
          >
            <option value="date">{{ "sortByDate" | translate }}</option>
            <option value="alphabet">
              {{ "sortAlphabetically" | translate }}
            </option>
          </select>
        </div>
      </div>
      <div class="board-tile-list">
        <inline-form
          class="create-board-form"
          defaultText="{{ 'createNewBoard' | translate }}"
          (handleSubmit)="createBoard($event)"
          [hasButton]="true"
          buttonText="+"
        ></inline-form>

        <app-loader *ngIf="isLoading"></app-loader>
        <ng-container *ngIf="!isLoading">
          <a [routerLink]="['/boards', board.id]" *ngFor="let board of filteredBoards" class="board-tile">
            <div class="board-tile-details-name">{{ board.title }}</div>
          </a>
        </ng-container>
        
      </div>
    </div>
  </div>
</div>
