@import "../../../../assets/variables.scss";

:host {
    background-color: var(--background-color);
}

.boards-page-container {
    min-height: 100vh;
    display: flex;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-primary);
}
  
.home-left-sidebar-container {
    width: 20%;
    padding: $spacing-large;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: $spacing-medium;
}
  
.boards-side-menu-option {
    text-decoration: none;
    color: var(--btn-color);
    padding: $spacing-tiny $spacing-small;
    border-radius: var(--border-radius);
    transition: background-color 0.3s;
    background-color: var(--btn-background-color);
    border: 1px solid var(--border-color);
    &:hover,
    &.boards-side-menu-option-selected {
      color: var(--btn-color);
    }
}
  
.boards-section-container {
    width: 80%;
    padding: $spacing-large;
}
  
.my-boards-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-medium;
}
  
.boards-page-header-name {
    font-size: $font-size-large;
    font-family: var(--font-secondary);
}

.board-tile-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: $spacing-medium;
}
  
.board-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    padding: $spacing-medium;
    text-decoration: none;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: var(--primary-color);
      color: var(--btn-color);
    }
}
  
.board-tile-details-name {
    font-size: var(--font-size-medium);
    font-family: var(--font-secondary);
}

.board-sf {
    display: flex;
    align-items: center;
    gap: $spacing-small;

}

.board-filter-input {
    height: 40px;
    font-size: $font-size-medium;
    color: var(--text-color);
    text-align: center;
    background-color: var(--background-color);
    border: 1px solid;
}

.board-sort-select {
    height: 40px;
    font-size: $font-size-medium;
    color: var(--text-color);
    text-align: center;
    background-color: var(--background-color);
}
