<app-topbar></app-topbar>

<div class="board" *ngIf="data$ | async as data">
  <div class="board-header-container">
    <inline-form
      class="edit-board-form"
      [defaultText]="data.board.title"
      [title]="data.board.title"
      (handleSubmit)="updateBoardName($event)"
    ></inline-form>
    <div class="delete-board" (click)="deleteBoard()">×</div>
  </div>
  <div class="columns" cdkDropListGroup>
    <div
      class="column"
      *ngFor="let column of data.columns"
      cdkDropList
      [id]="column.id"
      [cdkDropListData]="getTasksByColumn(column.id, data.tasks)"
      (cdkDropListDropped)="onDrop($event)"
    >
      <div class="column-title">
        <inline-form
          class="edit-column-form"
          [defaultText]="column.title"
          [title]="column.title"
          (handleSubmit)="updateColumnName($event, column.id)"
        ></inline-form>
        <div class="delete-board" (click)="deleteColumn(column.id)">×</div>
      </div>
      <div
        *ngFor="let task of getTasksByColumn(column.id, data.tasks)"
        class="task"
        (click)="openTask(task.id)"
        cdkDrag
        [cdkDragData]="task"
      >
        {{ task.title }}
      </div>
      <inline-form
        class="create-task-form"
        defaultText="Добавить таск"
        [hasButton]="true"
        buttonText="+ "
        inputPlaceholder="Название таска"
        (handleSubmit)="createTask($event, column.id)"
      ></inline-form>
    </div>
    <inline-form
      class="create-column-form"
      defaultText="Добавить колонну"
      [hasButton]="true"
      buttonText="+"
      inputPlaceholder="Название колонны"
      (handleSubmit)="createColumn($event)"
    ></inline-form>
  </div>
</div>

<router-outlet></router-outlet>
