<header class="home-header">
  <a class="logo" routerLink="/">
    Task Flow
  </a>
  <div>
    <a routerLink="/login" class="home-header-login btn">{{ 'login' | translate }}</a>
    <a routerLink="/register" class="home-header-register btn">{{ 'register' | translate }}</a>
  </div>
</header>

<div class="home-hero">
  <div class="home-container">
    <div>
      <h2 class="home-title">
        Lorem ipsum dolor sit, amet consectetur adipisicing.
      </h2>
      <p class="home-description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident quas dolorem expedita dignissimos, hic nesciunt!
      </p>
    </div>
    <div class="img">
      <img src="../../../assets/task.png" alt="task">
    </div>
  </div>
</div>

<div class="home-team">
  <div class="home-container team-container">
    <div>
      <h2 class="home-title">
        Lorem ipsum dolor sit, amet consectetur adipisicing.
      </h2>
      <p class="home-description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident quas dolorem expedita dignissimos, hic nesciunt!
      </p>
    </div>
    <div class="img">
      <img src="../../../assets/team.png" alt="team">
    </div>
  </div>
</div>

<div class="home-information">
  <div class="home-container information-container">
    <div>
      <h2 class="home-title">
        Lorem ipsum dolor sit, amet consectetur adipisicing.
      </h2>
      <p class="home-description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident quas dolorem expedita dignissimos, hic nesciunt!
      </p>
    </div>
    <div class="img">
      <img src="../../../assets/task.png" alt="task">
    </div>
  </div>
</div>

<div class="home-workflow">
  <div class="home-container workflow-container">
    <div>
      <h2 class="home-title">
        Lorem ipsum dolor sit, amet consectetur adipisicing.
      </h2>
      <p class="home-description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident quas dolorem expedita dignissimos, hic nesciunt!
      </p>
    </div>
    <div class="img">
      <img src="../../../assets/team.png" alt="team">
    </div>
  </div>
</div>