@import "../../../assets/variables.scss";

.logo {
  font-size:$font-size-large;
  font-weight: bold;
  color: var(--primary-color);
  text-shadow: 1px 1px var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: var(--font-primary);
}

.btn {
  background: var(--btn-background-color);
  color: var(--btn-color);
  box-shadow: var(--box-shadow);
  border-radius: $border-radius;
  padding: $btn-padding-vertical $btn-padding-horizontal;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-medium $spacing-large;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
}

.home-header-login,
.home-header-register {
  font-size: $font-size-medium;
  text-decoration: none;
  margin-left: $spacing-medium;
}

.home-hero {
  background-color: var(--primary-color);
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.home-container {
  max-width: var(--desktop-width);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: $spacing-huge $spacing-large;
}

.home-hero .home-container {
  color: var(--background-color);
}

.home-title {
  font-size:$font-size-large;
  font-weight: bold;
  margin-bottom: $spacing-medium;
}

.home-description {
  font-size: $font-size-medium;
  color: var(--text-color);
  margin-bottom: $spacing-large;
}

.home-team,
.home-information,
.home-workflow {
  background-color: var(--background-color);
  color: var(--text-color);
}

.home-container.team-container,
.home-container.information-container,
.home-container.workflow-container {
  padding: $spacing-huge $spacing-large;
  flex-direction: row-reverse;
}

.home-container.team-container .home-title,
.home-container.information-container .home-title,
.home-container.workflow-container .home-title {
  color: var(--primary-color);
}

.home-container.team-container .home-description,
.home-container.information-container .home-description,
.home-container.workflow-container .home-description {
  margin-bottom: 0;
}

.home-container.team-container .team-image,
.home-container.information-container img,
.home-container.workflow-container .workflow-image {
  width: 100%;
  max-width: 500px;
  margin-top: $spacing-large;
}

.workflow-left-part {
  max-width: 600px;
}

.workflow-left-part ul {
  list-style: none;
  margin-left: 0;
  margin-top: $spacing-large;
}

.workflow-left-part li {
  margin-bottom: $spacing-small;
}

// Media queries
@media only screen and (max-width: var(--tablet-width)) {
  .home-container {
    padding: $spacing-huge $spacing-medium;
  }

  .home-title {
    font-size: $font-size-medium;
  }

  .home-description {
    font-size: var($font-size-small);
  }

  .home-container.team-container,
  .home-container.information-container,
  .home-container.workflow-container {
    flex-direction: column;
  }

  .home-container.team-container .team-image,
  .home-container.information-container img,
  .home-container.workflow-container .workflow-image {
    margin-top: $spacing-large;
  }

  .workflow-left-part {
    max-width: none;
    margin-bottom: $spacing-medium;
  }
}

@media only screen and (max-width: $mobile-width) {
  .home-container {
    padding: $spacing-large $spacing-small;
  }
}

@media only screen and (max-width: $mobile-width) {
  .home-container {
    padding: $spacing-large $spacing-small;
  }
}

// Adjustments for smaller screens
@media only screen and (max-width: $mobile-width) {
  .home-header {
    flex-direction: column;
  }

  .home-header-login,
  .home-header-register {
    margin-left: 0;
    margin-top: $spacing-small;
  }

  .home-title {
    font-size: $font-size-mediumPlus;
  }

  .home-description {
    font-size: $font-size-small;
  }

  .workflow-left-part {
    max-width: none;
    margin-bottom: $spacing-medium;
  }

  .home-container.team-container .team-image,
  .home-container.information-container img,
  .home-container.workflow-container .workflow-image {
    margin-top: $spacing-medium;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.img {
  width: 300px;
}
